
.datos{
    text-align: center;
    height: 25px;
}




a{
    
    color: whitesmoke;
   
}


#blog .enlace img{ 
    max-width: 250px;
    max-height: 180px;
   

}




.enlace img:hover{
   
    transform: rotate(0deg) scale(1.1);
}




